<header th:fragment="header">
    <nav>
        <div class="nav-wrapper container">
            <a class="brand-logo" th:href="@{/}">Sample</a>
            <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/provinces}">Provinces</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-menu">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/provinces}">Provinces</a></li>
    </ul>
</header>
