<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<section th:fragment="content">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <nav style="margin-bottom:12px;">
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a th:href="@{/geo}" class="breadcrumb">Geo</a>
                            <a th:href="@{/provinces}" class="breadcrumb">Provinces</a>
                            <a th:if="${province.id != null}" class="breadcrumb" th:href="@{/provinces/{id}(id=${province.id})}"
                                th:text="${province.name}"></a>
                            <span th:if="${province.id != null}" class="breadcrumb" style="opacity:0.6;">Update</span>
                            <span th:if="${province.id == null}" class="breadcrumb" style="opacity:0.6;">Create</span>
                        </div>
                    </div>
                </nav>
                <form th:action="${province.id} != null ? @{/provinces/{id}(id=${province.id})} : @{/provinces}" method="post">
                    <div class="input-field" th:if="${province.id == null}">
                        <input id="id" name="id" type="text" th:value="${province.id}" />
                        <label for="id">Province ID</label>
                    </div>
                    <div class="input-field" th:if="${province.id != null}">
                        <input id="id" name="id" type="text" th:value="${province.id}" readonly />
                        <label for="id">Province ID</label>
                    </div>
                    <div class="input-field">
                        <input id="name" name="name" type="text" th:value="${province.name}" required>
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field">
                        <select id="countryId" name="countryId" required>
                            <option value="" th:if="${province.countryId == null and !#lists.isEmpty(countries)}" disabled selected>Select
                            </option>
                            <option th:each="c : ${countries}" th:value="${c.id}" th:text="${c.name}"
                                th:selected="${province.countryId} == c.id">
                            </option>
                        </select>
                        <label for="countryId">Country</label>
                    </div>
                    <button class="waves-effect waves-light btn btn-primary" type="submit">Save</button>
                    <a class="btn-flat" th:href="@{/provinces}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</section>

</html>